**Q1. Describe how groupby().transform() differs from groupby().apply(). In what use case would transform() be preferred?**

In [ ]:
groupby().transform(): Performs a group-wise calculation and returns a result with the same shape as the original data.

groupby().apply(): Applies a custom function to each group and can return a result of any shape.

transform() is preferred when you want to add a new column to the original DataFrame where each row gets a group-level value 
(like group mean, sum, etc.) while keeping the original shape.

**Q2. What is the difference between .loc[], .iloc[], and .at[]? Provide a situation where .at[] performs better.**

In [ ]:
 .loc[] = acces rows and columns by labels.
 .iloc[] = acces by position 
.at[] = similar to loc[] but for accesing a single value

Provide a situation where .at[] performs better.
- when we need to read or update only a single cell then we can use at[] , since it works on single cell it works faster than .loc[]

**Q3.Group by 'city' and return a DataFrame showing the average, max, and number of sales entries for each city.**

```
df = pd.DataFrame({
    'city': ['Pune', 'Mumbai', 'Delhi', 'Pune', 'Delhi', 'Pune'],
    'sales': [200, 150, 400, 100, 300,250],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar','Mar']
})

```

In [6]:
import pandas as pd
df = pd.DataFrame({
    'city': ['Pune', 'Mumbai', 'Delhi', 'Pune', 'Delhi', 'Pune'],
    'sales': [200, 150, 400, 100, 300,250],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar','Mar']
})
print(df)

result = df.groupby('city')['sales'].agg(
          Average='mean',
          Maximum='max',
          Count='count'
)
print(result)

     city  sales month
0    Pune    200   Jan
1  Mumbai    150   Feb
2   Delhi    400   Jan
3    Pune    100   Feb
4   Delhi    300   Mar
5    Pune    250   Mar
           Average  Maximum  Count
city
Delhi   350.000000      400      2
Mumbai  150.000000      150      1
Pune    183.333333      250      3

**Q4. Given,**

```
df = pd.DataFrame({
    'student': ['Arya', 'Arya', 'Aniket', 'Aniket'],
    'subject': ['Math', 'English', 'Math', 'English'],
    'score': [85, 90, 78, 88]
})

```

**Task A:**
**Pivot this table so that each row is a student and each column is a subject.**

**Task B:**
**Melt the pivoted table back to the original long format.**

In [10]:
df = pd.DataFrame({
    'student': ['Arya', 'Arya', 'Aniket', 'Aniket'],
    'subject': ['Math', 'English', 'Math', 'English'],
    'score': [85, 90, 78, 88]
})
print(df)

r = df.pivot(index='student',columns ='subject')
print(r)

  student  subject  score
0    Arya     Math     85
1    Arya  English     90
2  Aniket     Math     78
3  Aniket  English     88
          score
subject English Math
student
Aniket       88   78
Arya         90   85

**Q5.Given**

```
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit', 'Elderberry'],
    'price': [100, 150, 200, 250, 300],
    'stock': [0, 10, 5, 0, 20]
})

```
**Task:**
**Filter products where stock is greater than 0 and price is less than or equal to 200.**

In [18]:
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit', 'Elderberry'],
    'price': [100, 150, 200, 250, 300],
    'stock': [0, 10, 5, 0, 20]
})
print(df)

a = df[(df['stock']> 0)&(df['price']<=200)]
print(a)

       product  price  stock
0        Apple    100      0
1       Banana    150     10
2       Cherry    200      5
3  Dragonfruit    250      0
4   Elderberry    300     20
  product  price  stock
1  Banana    150     10
2  Cherry    200      5

**Q6. Given:**
```
orders = pd.DataFrame({
    'order_id': [1, 2, 3],
    'customer_id': [100, 101, 102],
    'amount': [250, 450, 300]
})

customers = pd.DataFrame({
    'customer_id': [100, 101],
    'name': ['Alice', 'Bob']
})
```

**Task:**
**Merge the two DataFrames to include all orders, even if the customer data is missing. Replace missing names with "Unknown".**

In [24]:
orders = pd.DataFrame({
    'order_id': [1, 2, 3],
    'customer_id': [100, 101, 102],
    'amount': [250, 450, 300]
})

customers = pd.DataFrame({
    'customer_id': [100, 101],
    'name': ['Alice', 'Bob']
})
b = pd.merge(orders,customers)
print(b)

   order_id  customer_id  amount   name
0         1          100     250  Alice
1         2          101     450    Bob

**Q7:Given**

```
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit'],
    'price': [100, 200, 150, 300],
    'discount': [10, 0, 15, 20]
})

```

**Create a new column 'final_price' that subtracts 'discount' from 'price' only if discount > 0, else keep the original price.**

In [50]:
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit'],
    'price': [100, 200, 150, 300],
    'discount': [10, 0, 15, 20]
})
print(df)
df["final_price"] = df.apply(
    lambda row: row["price"] - row["discount"] if row["discount"] > 0 else row["price"], axis=1
)
print(df)

       product  price  discount
0        Apple    100        10
1       Banana    200         0
2       Cherry    150        15
3  Dragonfruit    300        20
       product  price  discount  final_price
0        Apple    100        10           90
1       Banana    200         0          200
2       Cherry    150        15          135
3  Dragonfruit    300        20          280

**Q8. Explain the differences between .map(), .apply(), and .applymap() in Pandas.
When would you use each? Give examples.**

**Q9.Given:**

```
df = pd.DataFrame({
    'A': ['dog', 'cat', 'dog'],
    'B': ['cat', 'cat', 'dog']
})
```

**Get the frequency count of each unique value across all columns.**

In [62]:
df = pd.DataFrame({
    'A': ['dog', 'cat', 'dog'],
    'B': ['cat', 'cat', 'dog']
})
c = pd.concat([df['A'],df['B']])
print(c)
d=c.value_counts()
print(d)

0    dog
1    cat
2    dog
0    cat
1    cat
2    dog
dtype: object
dog    3
cat    3
Name: count, dtype: int64

**Q10: What is the difference between pivot() and pivot_table()?
In what scenario will pivot() raise an error and how does pivot_table() handle it?**